@import '../../../styles/sass/colors';
@import '../../../styles/sass/button';

.login-form-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template: "a a a" "b c d" "e e e";

  form {
    grid-area: c;
    display: flex;
    align-items: center;
    flex-direction: column;
    >.input-group{
      padding-bottom: 25px;
    }
    .invalid-feedback{
      position: absolute;
      top: 35px;
    }
  }
  padding: 10px;
}
